# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build artifacts
build/
DerivedData/

# Swift Package Manager
.build/
Packages/
.swiftpm/

# Xcode package resolution
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Ruby / Bundler
.bundle/
vendor/bundle/

